.blog-show{
  width: 25%;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  &--wrapper{
    &__fix{
      padding: 20px 0 20px;
      &--date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .blog-show-date{
          display: inline-block;
        }
        .blog-show-edit{
          display: flex;
          .command{
            margin-left: 5px;
            padding: 5px 10px 5px;
            &:hover {
              border-bottom: 1px solid #222222;
              opacity: 0.7;
            }
          }
        }
        .blog-show-edit a{
          text-decoration: none;
          color: #222222;
        }
      }
      &--name{
        font-size: 25px;
        color: #222222;
        padding-bottom: 10px;
      }
      &--contents{
        // display: flex;
        &__left{
          .left-contents{
            // width: 90%;
            // margin: 0 auto;
            &--name{
              font-size: 32px;
              color: #222222;
            }
            &--image{
              // height: 300px;
              
            }
            &--small{
              display: flex;
              &__img{
                display: flex;
              }
            }
          }
        }
        &__right{

          .right-title{
            .__content{

            }
          }
        }
        .link-blog-more{
          margin: 20px 0 20px;
          text-align: center;
          &--index{
            display: inline-block;
            margin: 0 auto;
            &:hover {
              border-bottom: 1px solid #222222;
              opacity: 0.7;
            }
          }
        }
        .link-blog-more a{
          text-decoration: none;
          color: #222222;
        }
      }
      &--submit{
        text-align: center;
        padding-top: 20px;
        &__button{
          font-size: 20px;
          display: inline-block;
          background-color: #ff953d;
          color: #fff;
          padding: 10px 15px 10px;
        }
      }
    }
  }
}

.blog-show-img{
  width: 100%;
  object-fit: cover;
}

.blog-show-img-sml{
  box-sizing: border-box;
  width: 20%;
  height: auto;
  padding-right: 1px;
  border-radius: 4px;
}

.blog-show-img-sml__last{
  width: 20%;
  height: auto;
  padding: initial;
  border-radius: 4px;
}

@media (max-width: 559px) {
  .blog-show{
      width: 100%;
  }
}