.header{
  height: 60px;
  &--nav{
    &__fix{
      display: flex;
      position: relative;
      &--logo{
        display: block;
        margin: 18px 18px;
      }
      .shop_search{
        line-height: 60px;
        .seach_field{
          font-size: 20px;
          width: 200px;
        }
      }
      &--menu{
        position: absolute;
        right: 18px;
        display: block;
        margin: 18px 0 18px;
        cursor: pointer;
        user-select: none;
      }
      #menu-lists{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        border: 1px solid #dddddd;
        border-radius: 4px;
        .header-menu{
          padding: 0;
          &__list{
            list-style: none;
            padding: 10px;
            border-bottom: 1px solid #dddddd;
          }
          &__list--last{
            list-style: none;
            padding: 10px;
          }
        }
        .header-menu a{
          text-decoration: none;
          color: #222222;
        }
      }
    }
  }
}

