.product-show{
  width: 60%;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  &--wrapper{
    display: flex;
    padding: 20px 0 20px;
    &__fix{
      width: 65%;
      &--upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__name{
          font-size: 24px;
          color: #222222;

        }
        &__twitter{
        }
      }
      &--contents{
        &__left{
          .left-contents{

            &--name{
              font-size: 32px;
              color: #222222;
            }
            &--image{
              
            }
            &--small{
              display: flex;
              &__img{
                display: flex;
              }
            }
          }
        }
        &__right{
          .right-title{
            font-size: 18px;
          }
          .right-contents{
            margin-top: 8px;
            &--category{
              font-size: 16px;
              color: #222222;
              margin-top: 8px;
            }
            &--intro{
              font-size: 16px;
              color: #222222;
              margin-top: 8px;

            }
            &--price{
              font-size: 16px;
              color: #222222;
              margin-top: 8px;

            }
            &--limit{
              font-size: 16px;
              color: #222222;
              margin-top: 8px;

            }
          }
        }
      }
      &--submit{
        text-align: center;
        padding-top: 20px;
        &__soldout{
          font-size: 16px;
          display: inline-block;
          // background: #dddddd;
          color: red;
          padding: 10px 15px 10px;
          border-radius: 4px;
        }
        &__button{
          font-size: 20px;
          display: inline-block;
          background-color: #ff953d;
          color: #fff;
          padding: 10px 15px 10px;
        }
      }
    }
    .shop-view{
      width: 35%;
      &__box{
        padding-left: 60px;
        margin-top: 40px;
        &__in{
          .sub-title{
            font-size: larger;
          }
          .shop-image{
            width: 100%;
            .sub-image{
              width: 100%;
              object-fit: cover;
            }
          }
          .shop-texts{
            padding: 0 10px 0;
            &--name{
              font-size: 18px;
            }
            &--content{
              font-size: smaller;
            }
            &--intro{
              font-size: smaller;
            }
          }
        }
      }
    }
  }
}

.product-show-img{
  width: 100%;
  object-fit: cover;
}

.product-show-img-sml{
  box-sizing: border-box;
  width: 20%;
  height: auto;
  padding-right: 1px;
  border-radius: 4px;
}

.product-show-img-sml__last{
  width: 20%;
  height: auto;
  padding: initial;
  border-radius: 4px;
}





@media (max-width: 559px) {
  .product-show{
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 160px);
    background: #fffbf9;
    &--wrapper{
      &__fix{
        padding: 20px 0 20px;
        &--name{
          font-size: 24px;
          color: #222222;
          padding-bottom: 10px;
  
        }
        &--contents{
          display: flex;
          flex-direction: column;
          &__left{
            width: 100%;
            .left-contents{
              // width: 90%;
              // margin: 0 auto;
              padding: 0 10px 0;
              &--name{
                font-size: 24px;
                color: #222222;
              }
              &--image{
                // height: 300px;
                
              }
              &--small{
                display: flex;
                &__img{
                  display: flex;
                }
              }
            }
          }
          &__right{
            width: 100%;
            .right-contents{
              width: 90%;
              margin: 0 auto;
              &--category{
                font-size: 16px;
                color: #222222;
              }
              &--intro{
                font-size: 16px;
                color: #222222;
              }
              &--price{
                font-size: 16px;
                color: #222222;
              }
              &--limit{
                font-size: 16px;
                color: #222222;
              }
            }
          }
        }
        &--submit{
          text-align: center;
          padding-top: 20px;
          &__soldout{
            font-size: 16px;
            display: inline-block;
            background: #dddddd;
            color: red;
            padding: 10px 15px 10px;
            border-radius: 4px;
          }
          &__button{
            font-size: 16px;
            display: inline-block;
            background: rgb(255, 191, 72);
            color: white;
            padding: 10px 15px 10px;
            border-radius: 4px;
          }
        }
      }
    }
  }
  
  .product-show-img{
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-show-img-sml{
    box-sizing: border-box;
    width: 20%;
    height: auto;
    padding-right: 1px;
    border-radius: 4px;
  }
  
  .product-show-img-sml__last{
    width: 20%;
    height: auto;
    padding: initial;
    border-radius: 4px;
  }
}