.product-edit{
  width: 100%;
  &__wrapper{
    width: 80%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 20px;
      &--title{
        text-align: center;
        .product-edit__title{
          font-size: 25px;
          margin: 50px 0 20px;
        }
      }
      &--contents{
        display: flex;
        background-color: #dddddd;
        padding-bottom: 30px;
        .product-edit__contents--left{
          width: 50%;
          .product-edit__contents--left__forms{
            width: 90%;
            margin: 0 auto;
            text-align: left;
            .product-edit--form{
              .form-must{
                padding: 3px;
                border-radius: 4px;
                background-color: rgb(243, 86, 65);
                color: white;
              }
              width: 100%;
              padding-top: 30px;
              .form-box{
                margin-top: 8px;
                width: 100%;
                height: 2rem;
              }
            }
            .product-edit--price{
              .form-must{
                padding: 3px;
                border-radius: 4px;
                background-color: rgb(243, 86, 65);
                color: white;
              }
              width: 100%;
              padding-top: 30px;
              .form-box{
                margin-top: 8px;
                width: 100%;
                height: 2rem;
              }
            }
            .product-edit--limit{
              width: 100%;
              padding-top: 30px;
              .form-want{
                padding: 3px;
                border-radius: 4px;
                background-color: rgb(105, 195, 247);
                color: white;
              }
            }
          }
        }
        .product-edit__contents--right{
          width: 50%;
          .form-must{
            padding: 3px;
            border-radius: 4px;
            background-color: rgb(243, 86, 65);
            color: white;
          }
          &--area{
            padding-top: 30px;
            width: 90%;
            margin: 0 auto;
            .form-area{
              margin-top: 8px;
              width: 100%;
              height: 10rem;
              resize: none;
            }
          }
        }
      }
      .product-edit--submit{
        
      }
    }
  }
}