.shop-show-all{
  display: flex;
  width: 80%;
  margin: 0 auto;
  // background: #fffbf9;

  .shop-show-main{
    width: 75%;
    min-height: calc(100vh - 210px);
    .shop-show{
      width: 100%;
      &--wrapper{
        // width: 50%;
        margin: 0 auto;
        &__fix{
          margin-top: 50px;
          padding: 0 10px 20px;
          &--name{
            font-size: 28px;
            color: #222222;
            padding: 0 10px 10px;
            text-align: center;
            position: relative;
            &--top{
              letter-spacing: 2px;
              font-weight: bold;
            }
            // 編集画面
            &--button{
              // display: flex;
              position: absolute;
              right: 0;
              top: 4px;
              .link_shop-edit{
                font-size: 14px;
                font-weight: bold;
                color: #222222;
                padding-bottom: 2px;
                letter-spacing: 0.5px;
                margin-left: 5px;
                border-bottom: 1px solid #dddddd;
              }
              .link_shop-delete{
                font-size: 14px;
                font-weight: bold;
                color: #222222;
                padding-top: 2px;
                letter-spacing: 0.5px;
                margin-left: 5px;
              }
            }
            &--button a{
              text-decoration: none;
            }
          }
          &--contents{
            display: flex;
            border-top: 1px solid #dddddd;
            padding: 20px 0 10px;
            &__left{
              width: 50%;
              .left-contents{
                width: 100%;
                margin: 0 auto;
                // padding: 0 10px 0;
                &--image{
                  width: 500px;
                  // margin: 0 auto;
                  overflow: hidden;
                  &--main{
                    width: 2000px;
                    // height: 300px;
                    display: flex;
                    position: relative;
                    &--box{
                    
                      // height: 300px;
                      // position: absolute;
                    }
                  }
                  &--small{
                    width: 500px;
                    margin: 0 auto;
                    display: flex;
                    &--box{
                      width: 100px;
                    }
                  }
                }
              }
            }
            &__right{
              width: 50%;
              margin: 0 auto;
              .right{
                // background: #f3f3f3;
                font-weight: bold;
                width: 90%;
                margin: 0 auto;
                &-copy{
                  &-contents{
                    display: inline-block;
                    font-size: 22px;
                    padding-bottom: 2px;
                    border-bottom: 1px solid #dddddd;
                  }
                }
                &-contents{
                  background: #fff;
                  &--category{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                    border-bottom: 1px solid #dddddd;
                  }
                  &--intro{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                    border-bottom: 1px solid #dddddd;
                  }
                  &--location{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                    border-bottom: 1px solid #dddddd;
                  }
                  &--time{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                    border-bottom: 1px solid #dddddd;
                  }
                  &--url{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                    border-bottom: 1px solid #dddddd;
                  }
                  &--tel{
                    font-size: 16px;
                    color: #222222;
                    padding: 5px;
                  }
                }
                &-create{
                  &__menu{
                    text-align: center;
                    background-color: #ff953d;
                    margin-top: 10px;
                  }
                  &__product{
                    text-align: center;
                    background-color: #ff953d;
                    margin-top: 10px;
                  }
                }
                &-create a{
                  text-decoration: none;
                  color: #222222;
                }
              }
            }
          }
          &--introduction{
            padding-bottom: 20px;
            border-bottom: 1px solid #dddddd;
          }
        }
      }
    }
    .shop-menu{
      width: 100%;
      
      &__wrapper{
        padding: 0 10px 0;
        &--copy{
          display: flex;
          justify-content: space-between;
          &__contents{
            display: inline-block;
            font-size: 22px;
            padding-bottom: 2px;
            border-bottom: 1px solid #dddddd;
          }
          &__more{
            font-size: 14px;
            padding: 5px 10px 5px;
            background-color: #ff953d;
          }
        }
        &__fix{
          padding: 0 0 10px;
          display: flex;
          border-bottom: 1px solid #dddddd;
          .menu-box{
            padding: 10px;
            box-sizing: border-box;
            width: 50%;
            &__in{
              &--up{
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                &__name{
                }
                &__price{

                }
              }
              &--down{
                &__introduction{
                  font-size: 12px;
                  color: #888888;
                }
              }
            }
          }
        }
        &--copy a{
          text-decoration: none;
          color: #222222;
        }
      }
    }


    .shop-products{
      width: 100%;
      &__wrapper{
        &--copy{
          padding: 20px 0 0 10px;
          &__contents{
            display: inline-block;
            font-size: 22px;
            padding-bottom: 2px;
            border-bottom: 1px solid #dddddd;
          }
        }
        &__fix{
          display: flex;
          .product__box{
            font-size: 14px;
            box-sizing: border-box;
            width: 25%;
            height: 300px;
            padding: 10px;
            &__in{
              &--image{
              }
              &--name{
                font-size: larger;
              }
              &--price{
                margin-top: 8px;
              }
              &--intro{
                margin-top: 8px;
                height: 60px;
                overflow: hidden;
              }
            }
          }
          .product__box a{
            text-decoration: none;
            color: #222222;
          }
        }
      }
    }
  }
  .shop-show-sub{
    width: 25%;
    &__wrapper{
      width: 90%;
      margin: 0 auto;
      &__fix{
        padding: 50px 0 20px;
        .shop-blog{
          box-sizing: border-box;
          // padding: 10px;
          &--title{
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            &__content{
              font-size: 28px;
            }
            &__link{

            }
            &__link a{
              color: #222222;
              text-decoration: none;
            }
          }
          &--box{
            padding-top: 20px;
            border-top: 1px solid #dddddd;
            &--title{
              &__content{
                font-weight: bold;
              }
            }
            &--image{
              &__content{
              width: 100%;
              // padding: 5px;
              box-sizing: border-box;
                .blog-img-shop-show{
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
            &--text{
              padding: 5px;
              width: 95%;
              min-height: 1rem;
              overflow: hidden;
              &__content{
                font-size: 12px;
              }
            }
          }
          &--more{
            position: relative;
            .link-blog-index{
              position: absolute;
              right: 0;
              display: inline-block;
              padding: 5px 10px 5px;
              background: #ff953d;
              font-size: 14px;
            }
          }
          &--more a{
            text-decoration: none;
            color: #222222;
          }
        }
        .shop-blog a{
          text-decoration: none;
          color: #222222;
        }
      }
      &__fix a{
        text-decoration: none;
        color: #222222;
      }
    }
  }
}

.shop-show-img{
  width: 100%;
  height: 300px;
  object-fit: contain;
  // position: absolute;
}

.shop-show-img-sml{
  box-sizing: border-box;
  width: 100px;
  height: auto;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}




.product_box_img{
  width: 100%;
  height: auto;
}

.button-menu-create{
  padding: 10px;
}

@media (max-width: 559px) {
  .shop-show-all{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;  
    .shop-show-main{
      width: 100%;
      min-height: calc(100vh - 210px);
      .shop-show{
        width: 100%;
        &--wrapper{
          // width: 50%;
          margin: 0 auto;
          &__fix{
            margin-top: 50px;
            padding: 0 10px 20px;
            &--name{
              font-size: 28px;
              color: #222222;
              padding: 0;
              text-align: center;
              position: initial;
              &--top{
                letter-spacing: 2px;
                font-weight: bold;
              }
              // 編集画面
              &--button{
                position: initial;
                right: 0;
                top: 4px;
                display: flex;
                margin: 0 auto;
                .link_shop-edit{
                  font-size: 14px;
                  font-weight: bold;
                  color: #222222;
                  padding-bottom: 0;
                  letter-spacing: 0.5px;
                  margin-left: 0;
                  border-bottom: none;
                }
                .link_shop-delete{
                  font-size: 14px;
                  font-weight: bold;
                  color: #222222;
                  padding-top: 0;
                  letter-spacing: 0.5px;
                  margin-left: 5px;
                }
              }
              &--button a{
                text-decoration: none;
                margin: 0 auto;
              }
            }
            &--contents{
              display: flex;
              border-top: 1px solid #dddddd;
              padding: 20px 0 10px;
              flex-direction: column;
              &__left{
                width: 100%;
                .left-contents{
                  width: 100%;
                  margin: 0 auto;
                  overflow: hidden;
                  &--image{
                    width: 300%;
                    &--main{
                      width: 100%;
                      display: flex;
                      position: relative;
                      &--box{
                      }
                    }
                    &--small{
                      width: 25%;
                      display: flex;
                      &--box{
                        width: 100px
                      }
                    }
                  }
                }
              }
              &__right{
                width: 100%;
                margin: 0 auto;
                margin-top: 10px;
                .right{
                  // background: #f3f3f3;
                  font-weight: bold;
                  width: 100%;
                  margin: 0 auto;
                  &-contents{
                    &--category{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                      border-bottom: 1px solid #dddddd;
                    }
                    &--intro{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                      border-bottom: 1px solid #dddddd;
                    }
                    &--location{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                      border-bottom: 1px solid #dddddd;
                    }
                    &--time{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                      border-bottom: 1px solid #dddddd;
                    }
                    &--url{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                      border-bottom: 1px solid #dddddd;
                    }
                    &--tel{
                      font-size: 16px;
                      color: #222222;
                      padding: 5px;
                    }
                  }
                  &-create{
                    &__menu{
                      text-align: center;
                      background-color: orange;
                      margin-top: 10px;
                    }
                    &__product{
                      text-align: center;
                      background-color: orange;
                      margin-top: 10px;
                    }
                  }
                  &-create a{
                    text-decoration: none;
                    color: #222222;
                  }
                }
              }
            }
            &--introduction{
              width: 100%;
              margin: 0 auto;
            }
          }
        }
      }
      .shop-products{
        width: 100%;
        &__wrapper{
  
          &__fix{
            padding: 10px 0 10px;
            display: flex;
            .product__box{
              font-size: 14px;
              box-sizing: border-box;
              width: 50%;
              height: 250px;
              padding: 10px;
              overflow: hidden;
              &--image{
                // padding: 0 10px 0;
              }
              &--intro{
                padding: 10px;
                height: 60px;
              }
              &--name{
                padding: 10px;
              }
              &--price{
                padding: 10px;
              }
            }
          }
        }
      }
    }
    .shop-show-sub{
      width: 100%;
      &__wrapper{
        width: 100%;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        &__fix{
          padding: 10px 0 10px;
          .shop-blog{
            box-sizing: border-box;
            // padding: 10px;
            &--title{
              padding-bottom: 10px;
              display: flex;
              justify-content: space-between;
              &__content{
                font-size: 28px;
              }
              &__link{
  
              }
              &__link a{
                color: #222222;
                text-decoration: none;
              }
            }
            &--box{
              padding-top: 20px;
              border-top: 1px solid #dddddd;
              &--title{
                &__content{
                  font-weight: bold;
                }
              }
              &--image{
                &__content{
                width: 100%;
                // padding: 5px;
                box-sizing: border-box;
                  .blog-img-shop-show{
                    width: 100%;
                    object-fit: cover;
                  }
                }
              }
              &--text{
                padding: 5px;
                width: 95%;
                min-height: 1rem;
                overflow: hidden;
                &__content{
                  font-size: 12px;
                }
              }
            }
            &--more{
              position: relative;
              .link-blog-index{
                position: absolute;
                right: 0;
                display: inline-block;
                padding: 5px 10px 5px;
                background: orange;
                font-size: 14px;
              }
            }
            &--more a{
              text-decoration: none;
              color: #222222;
            }
          }
          .shop-blog a{
            text-decoration: none;
            color: #222222;
          }
        }
        &__fix a{
          text-decoration: none;
          color: #222222;
        }
      }
    }
  }
  .shop-show-img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    // position: absolute;
  }
  .shop-show-img-sml{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .product_box_img{
    width: 100%;
    height: auto;
  }
  .button-menu-create{
    padding: 10px;
  }
}