.shop-index{
  // min-width: 1680px;

  &__wrapper{
    width: 1008px;
    margin: 0 auto;
    // background: #fffbf9;

    &__fix{
      padding: 20px 0 20px;
      &--left{
        &--title{
          padding-top: 8px;
          // text-align: center;
          .category-title{
            display: inline-block;
            font-size: 20px;
            border-bottom: 1px solid #dddddd;
          }
        }
        .left-contents{
          // border-left: 1px solid #dddddd;
          font-size: 14px;
          &__fix{
            &__box{
              // height: 12rem;
              // overflow: scroll;
              padding: 20px 0 20px;
              display: flex;
              flex-wrap: wrap;
              // justify-content: center;
              &--inner{
                padding: 5px 18px 5px 10px;
                background: #eeeeee;
                color: #444;
                margin-right: 10px;
                margin-bottom: 8px;
                position: relative;
                &:hover {
                  opacity: 0.7;
                }
                .fa-angle-right{
                  position: absolute;
                  right: 4px;
                  top: 9px;
                }
              }

            }
            &__box a{
              text-decoration: none;
              color: #666;
            }
          }
        }
      }
      &--right{
        &--title{
          display: inline-block;
          border-bottom: 1px solid #dddddd;
          // margin-bottom: 10px;
          .title-p-index{
            font-size:  20px;
          }
        }
        &--contents{
          width: 1028px;
          padding: 20px 0 0 0;
          margin-left: -10px;
          text-align: initial;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          // border-left: 1px solid #dddddd;
          // border-right: 1px solid #dddddd;
          .contents-p-index{
            // padding: 20px 0 0;
            // width: 95%;
            // margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            &__box{
              box-sizing: border-box;
              width: 25%;
              padding: 0 0 0 10px;
              display: flex;
              &__in{
                background: #fff;
                height: 330px;
                // box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
                .image{
                  width: 100%;
                  .index-img{
                    width: 100%;
                    // height: 11rem;
                    object-fit: cover;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }
                .text-box{
                  height: 160px;
                  padding: 0 10px 0;
                  &__name{
                    font-size: 18px;
                    height: 25px;
                    position: relative;
                    // .fas{
                    //   position: absolute;
                    //   top: 3px;
                    // }
                    .name{
                      // padding-left: 30px;
                      // margin-top: 8px;
                      // border-bottom: 1px solid #dddddd;
                    }
                  }
                  &__location{
                    font-size: smaller;
                    font-weight: lighter;
                    // color: #969696;
                    position: relative;
                    height: 25px;
                    .fas{
                      position: absolute;
                      top: 3px;
                      left: 2px;
                      color: rgb(255, 193, 78);
                    }
                    .location{
                      padding-left: 20px;
                      margin-top: 8px;
                      // border-bottom: 1px solid #dddddd;
                    }
                  }
                  &__category{
                    font-size: smaller;
                    font-weight: lighter;
                    position: relative;
                    height: 25px;
                    .fas{
                      position: absolute;
                      top: 3px;
                      left: 2px;
                      color: rgb(255, 193, 77);

                    }
                    .category{
                      padding-left: 20px;
                      // margin-top: 8px;
                      // border-bottom: 1px solid #dddddd;
                    }
                  }
                  &__intro{
                    width: 100%;

                    .intro{
                      color: #888888;
                      font-size: smaller;
                      width: 100%;
                      height: 60px;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }
          .contents-p-index a{
            width: 100%;
            text-decoration: none;
            color: black;
            display: block;
          }
        }
      }
    }
  }
}

// レスポンシブ

@media (max-width: 559px) {
  .shop-index{
    min-width: 100%;
    &__wrapper{
      width: 100%;
      background: #fffbf9;
      &__fix{
        padding: 20px 0 20px;
        display: flex;
        flex-direction: column;
        &--left{
          width: 100%;
          &--title{
            text-align: center;
            .category-title{
              display: inline-block;
              font-size: 25px;
              border-bottom: 1px solid #dddddd;
              white-space: nowrap;
            }
          }
          .left-contents{
            border-left: 1px solid #dddddd;
            font-size: 14px;
            &__fix{
              &__box{

                padding: 20px 10px 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                &--inner{
                  padding: 5px 18px 5px 10px;
                  background: #eeeeee;
                  margin-right: 10px;
                  margin-bottom: 8px;
                  position: relative;
                  .fa-angle-right{
                    position: absolute;
                    right: 4px;
                    top: 9px;
                  }
                }
              }
            }
          }
        }
        &--right{
          width: 100%;
          text-align: center;
          &--title{
            display: inline-block;
            white-space: nowrap;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 10px;
            .title-p-index{
              font-size:  25px;
              white-space: nowrap;
            }
          }
          &--contents{
            text-align: initial;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .contents-p-index{
              width: 95%;
              margin: 0 auto;
              flex-direction: column;
              display: flex;
              flex-wrap: wrap;
              &__box{
                box-sizing: border-box;
                width: 100%;
                padding: 8px;
                display: flex;
                &__in{
                  background: #fff;
                  height: 350px;
                  box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
                  .image{
                    width: 100%;
                  }
                  .text-box{
                    height: 160px;
                    padding: 8px;
                    &__name{
                      font-size: 18px;
                      height: 25px;
                      position: relative;
                      // .fas{
                      //   position: absolute;
                      //   top: 3px;
                      // }
                      .name{
                        // padding-left: 30px;
                        margin-top: 8px;
                        border-bottom: 1px solid #dddddd;
                      }
                    }
                    &__location{
                      font-size: smaller;
                      font-weight: lighter;
                      // color: #969696;
                      position: relative;
                      height: 25px;
                      .fas{
                        position: absolute;
                        top: 3px;
                        left: 2px;
                        color: rgb(255, 193, 78);
                      }
                      .location{
                        padding-left: 30px;
                        margin-top: 8px;
                        border-bottom: 1px solid #dddddd;
                      }
                    }
                    &__category{
                      font-size: smaller;
                      font-weight: lighter;
                      position: relative;
                      height: 25px;
                      .fas{
                        position: absolute;
                        top: 3px;
                        left: 2px;
                        color: rgb(255, 193, 77);

                      }
                      .category{
                        padding-left: 30px;
                        // margin-top: 8px;
                        border-bottom: 1px solid #dddddd;
                      }
                    }
                    &__intro{
                      width: 100%;

                      .intro{
                        color: #888888;
                        font-size: smaller;
                        width: 100%;
                        height: 60px;
                        overflow: hidden;
                      }
                    }
                  }
                }
              }
            }
            .contents-p-index a{
              width: 100%;
              text-decoration: none;
              color: black;
              display: block;
            }
          }
        }
      }
    }
  }
}