//サインアップ・サインインページ

// サインアップページ

.signup{
  width: 100%;
  height: calc(100vh - 210px);
  &--wrapper{
    width: 30%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 20px;
      &--title{
        margin: 50px 0 20px;
        text-align: center;
        font-size: 25px;
      }
      &--contents{
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        text-align: center;
        padding-bottom: 20px;
        .signup-form{
          width: 90%;
          margin: 0 auto;
          padding-top: 30px;
          text-align: left;
          .label-up{
          }
          .form-must{
            padding: 3px;
            border-radius: 4px;
            background-color: rgb(243, 86, 65);
            color: white;
          }
          .form-box{
            margin-top: 8px;
            width: 100%;
            height: 30px;
          }
        }
        .button-register{
          padding-top: 30px;
          color: #fff;
        }
      }
    }
  }
}

.submit-button{
  background: rgb(253, 196, 37);
  height: 40px;
  width: 100px;
  border: 1px solid rgb(253, 196, 37);
  cursor: pointer;
  font-size: 16px;
  color: #222222;
}

// サインインページ

.signin{
  width: 100%;
  height: calc(100vh - 210px);
  &--wrapper{
    width: 30%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 20px;
      &--title{
        margin: 50px 0 20px;
        text-align: center;
        font-size: 25px;
      }
      &--contents{
        background-color: rgb(184, 184, 184);
        text-align: center;
        padding-bottom: 20px;
        .signin-form{
          width: 90%;
          margin: 0 auto;
          padding-top: 30px;
          text-align: left;
          .label-up{
          }
          .form-must{
            padding: 3px;
            border-radius: 4px;
            background-color: rgb(243, 86, 65);
            color: white;
          }
          .form-box{
            margin-top: 8px;
            width: 100%;
            height: 30px;
          }
        }
        .button-register{
          padding-top: 30px;
        }
        .to-signup{
          font-size: 14px;
          margin-top: 30px;
        }
        .to-signup a{
          text-decoration: none;
        }
      }
    }
  }
}

.sns-registration{
  margin-top: 30px;
  &__twitter{
    display: inline-block;
    padding: 5px 10px 5px;
    background: #1da1f2;
    color: #fff;
  }
}

.sns-registration a{
  text-decoration: none;
}



// レスポンシブ


@media (max-width: 559px) {
  .signup{
    width: 100%;
    height: auto;
    &--wrapper{
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
      &__fix{
        padding: 10px 0 10px;
        &--title{
          margin: 10px 0 10px;
          text-align: center;
          font-size: 25px;
        }
        &--contents{
          border-top: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
          text-align: center;
          padding-bottom: 20px;
          .signup-form{
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            text-align: left;
            .label-up{
            }
            .form-must{
              padding: 3px;
              border-radius: 4px;
              background-color: rgb(243, 86, 65);
              color: white;
            }
            .form-box{
              margin-top: 8px;
              width: 100%;
              height: 30px;
            }
          }
          .button-register{
            padding-top: 30px;
            color: #fff;
          }
        }
      }
    }
  }
  
  .submit-button{
    background: rgb(253, 196, 37);
    height: 40px;
    width: 100px;
    border: 1px solid rgb(253, 196, 37);
    cursor: pointer;
    font-size: 16px;
    color: #222222;
  }
  
  // サインインページ
  
  .signin{
    width: 100%;
    height: auto;
    &--wrapper{
      width: 100%;
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
      &__fix{
        padding: 10px 0 10px;
        &--title{
          margin: 10px 0 10px;
          text-align: center;
          font-size: 25px;
        }
        &--contents{
          background-color: rgb(184, 184, 184);
          text-align: center;
          padding-bottom: 20px;
          .signin-form{
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            text-align: left;
            .label-up{
            }
            .form-must{
              padding: 3px;
              border-radius: 4px;
              background-color: rgb(243, 86, 65);
              color: white;
            }
            .form-box{
              margin-top: 8px;
              width: 100%;
              height: 30px;
            }
          }
          .button-register{
            padding-top: 30px;
          }
          .to-signup{
            font-size: 14px;
            margin-top: 30px;
          }
          .to-signup a{
            text-decoration: none;
            color: #222222;
          }
        }
      }
    }
  }
  
  .sns-registration{
    margin-top: 20px;
    &__twitter{
      display: inline-block;
      padding: 5px 10px 5px;
      background: #1da1f2;
      color: #fff;
    }
  }
  
  .sns-registration a{
    text-decoration: none;
  }
}