.transaction-new{
  width: 100%;
  &__wrapper{
    width: 30%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 50px;
      &--copy{
        text-align: center;
        .copy-content{
          display: inline-block;
          padding-bottom: 20px;
          font-size: 25px;
        }
      }
      &--title{
        .transaction-title{
          display: inline-block;
          font-size: 24px;
        }
        .transaction-period{
          margin-top: 20px;
        }
      }
      &--contents{
        .transaction-contents{
          &--image{
            width: 100%;
            height: auto;
            padding: 10px 0 10px;
            .transaction-new-img{
              width: 100%;
              object-fit: contain;
              border-radius: 4px;
            }
          }
          &--price{
            margin-top: 8px;
          }
          &--introduction{
            margin-top: 8px;
          }
        }
      }
      &--submit{
        .submit-pay{
          .payjp-button{
            background-color: red;
          }
        }
      }
    }
  }
}

#payjp_checkout_box{
  margin: 0 auto;
  text-align: center;
  margin: 20px 0 20px;
}


@media (max-width: 559px) {
  .transaction-new{
    width: 100%;
    &__wrapper{
      width: 100%;
      margin: 0;
      padding: 10px;
      box-sizing: border-box;
      &__fix{
        &--copy{
          text-align: center;
          .copy-content{
            font-size: 25px;
          }
        }
        padding: 10px 0 10px;
        &--title{
          margin-top: 10px;
          .transaction-title{
            display: inline-block;
            font-size: 18px;
            padding-bottom: 5px;
            border-bottom: 1px solid #dddddd;
          }
          .transaction-period{
            margin-top: 20px;
          }
        }
        &--contents{
          .transaction-contents{
            &--image{
              width: 100%;
              height: auto;
              padding: 10px 0 20px;
              .transaction-new-img{
                width: 100%;
                object-fit: contain;
                border-radius: 4px;
              }
            }
            &--price{
  
            }
            &--introduction{
  
            }
          }
        }
        &--submit{
          .submit-pay{
            .payjp-button{
              background-color: red;
            }
          }
        }
      }
    }
  }
  
  #payjp_checkout_box{
    margin: 0 auto;
    text-align: center;
    margin: 20px 0 20px;
  }
}