// *{
//   box-sizing: border-box;
// }

.swipe-img{
  height: 600px;
  width: 100%;
  background-image: url(bar2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.catchcopy{
  width: 100%;
  &__fix{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    &__text1{
      font-size: 30px;
      padding: 20px 0 10px;
      font-weight: bold;
    }
    &__text2{
      font-size: 30px;
      padding: 10px 0 20px;
      font-weight: bold;

    }
  }
}

.intro{
  width: 100%;
  &__fix{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    &__title{
      font-size: 25px;
      padding: 20px 0 10px;
      display: inline-block;
      border-bottom: 2px solid #e4e4e4;
      &__content{
        padding: 20px 0 20px;
      }
    }
    &__contents{
      text-align: initial;
      .contents__user{
        padding: 10px 0 10px;
        &--title{
          display: inline-block;
          border-bottom: 1px solid #e4e4e4;
          margin-bottom: 10px;
          font-size: 20px;
        }
        &--box{
          display: flex;
          align-items: center;
          text-align: center;
          &--img{
            width: 50%;
            height: 350px;
            background-image: url(yakitori2.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
          }
          &--text{
            display: block;
            width: 50%;
          }
        }
      }
      .contents__shop{
        padding: 10px 0 10px;
        &--title{
          display: inline-block;
          border-bottom: 1px solid #e4e4e4;
          margin-bottom: 10px;
          font-size: 20px;
        }
        &--box{
          display: flex;
          align-items: center;
          &--img{
            width: 50%;
            height: 350px;
            background-image: url(yakitori4.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
          }
          &--text{
            display: block;
            width: 50%;
          }
        }
      }
    }
  }
}

.trying{
  width: 100%;
  padding: 20px 0 20px;
  &--box{
    width: 80%;
    margin: 0 auto;
    &--fix{
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      .user-button{
        display: inline-block;
        padding: 20px 30px 20px;
        background: rgb(255, 191, 72);
        color: white;
      }
      .shop-button{
        display: inline-block;
        padding: 20px 30px 20px;
        background: rgb(255, 191, 72);
        color: white;
      }
    }
  }
}

.footer{
  height: 100px;
  &--box{
    text-align: center;
    &--copy{
      line-height: 100px;
    }
  }
}