.customer-edit{
  width: 100%;
  height: calc(100vh - 210px);
  &--wrapper{
    width: 80%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 20px;
      &--title{
        margin: 50px 0 20px;
        text-align: center;
        font-size: 25px;
      }
      &--contents{
        background-color: #dddddd;
        text-align: center;
        padding-bottom: 20px;
        display: flex;
        .customer-edit-left{
          width: 50%;
          .customer-edit-form{
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            text-align: left;
            .label-up{
            }
            .form-must{
              padding: 3px;
              border-radius: 4px;
              background-color: rgb(243, 86, 65);
              color: white;
            }
            .form-box{
              margin-top: 8px;
              width: 100%;
              height: 30px;
            }
          }
        }
        .customer-edit-right{
          width: 50%;
          .customer-edit-form{
            width: 90%;
            margin: 0 auto;
            padding-top: 30px;
            text-align: left;
          }
          .form-want{
            padding: 3px;
            border-radius: 4px;
            background-color: rgb(105, 195, 247);

            color: white;
          }
          .customer-intro-form{
            margin-top: 8px;
            width: 100%;
            height: 10rem;
            resize: none;
          }
        }
      }
      &--submit{
        padding-top: 30px;
        text-align: center;
        .submit-button{
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 559px) {
  .customer-edit{
    width: 100%;
    height: auto;
    &--wrapper{
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
      &__fix{
        padding: 20px 0 20px;
        &--title{
          margin: 50px 0 20px;
          text-align: center;
          font-size: 25px;
        }
        &--contents{
          background-color: #dddddd;
          text-align: center;
          padding-bottom: 20px;
          display: flex;
          flex-direction: column;
          .customer-edit-left{
            width: 100%;
            .customer-edit-form{
              width: 90%;
              margin: 0 auto;
              padding-top: 30px;
              text-align: left;
              .label-up{
              }
              .form-must{
                padding: 3px;
                border-radius: 4px;
                background-color: rgb(243, 86, 65);
                color: white;
              }
              .form-box{
                margin-top: 8px;
                width: 100%;
                height: 30px;
              }
            }
          }
          .customer-edit-right{
            width: 100%;
            .customer-edit-form{
              width: 90%;
              margin: 0 auto;
              padding-top: 30px;
              text-align: left;
            }
            .form-want{
              padding: 3px;
              border-radius: 4px;
              background-color: rgb(105, 195, 247);
  
              color: white;
            }
            .customer-intro-form{
              margin-top: 8px;
              width: 100%;
              height: 10rem;
              resize: none;
            }
          }
        }
        &--submit{
          padding-top: 30px;
          text-align: center;
          .submit-button{
            margin: 0 auto;
          }
        }
      }
    }
  }
}