*{
  margin: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/colors";
@import "header";
@import "shops-top";
@import "signup&in";
@import "shops";
@import "shop-show";
@import "shop-index";
@import "user";
@import "products-new";
@import "product-show";
@import "product-edit";
@import "product-index";
@import "user-edit";
@import "transaction-show";
@import "transaction-new";
@import "cards";
@import "cards-show";
@import "shop-blog";
@import "category-show";
@import "blog-show";
@import "blog-new";
@import "shop-menu";
@import "category-new";
@import "modules/flash.scss";
@import "menus";

body{
  font-family: "Sawarabi Gothic"; ;
}

select{
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
