.menu-new{
  width: 100%;
  &-wrapper{
    width: 30%;
    margin: 0 auto;
    &__fix{
      padding: 20px 0 20px;
      &--title{
        text-align: center;
        .menu-new__title{
          font-size: 25px;
        }
      }
      &--contents{
        .menu-new--forms{
          &__name{

          }
          &__introduction{

          }
          &__price{

          }
        }
        .menu-new--submit{

        }
      }
    }
  }
}