= render "shared/header"

.product-new
  .product-new__wrapper
    .product-new__wrapper__fix
      .product-new__wrapper__fix--title
      .product-new__wrapper__fix--contens
        .product-new__forms
          .product-new__forms--form
            新規メニューの命名権+お食事1回30%OFF！(1回限り)
          .producy-new__forms--area
            当店では毎月新規メニューを考案しています！その新規メニューの命名権を差し上げます！
          .product-new__forms--price
            1 万円
          .product-new__forms--limit
            5月15日まで
      .product-new--submit


= render "shared/footer"
